In [ ]:
!poetry shell && poetry install

Spawning shell within /Users/mo/Library/Caches/pypoetry/virtualenvs/aa-team-assignment-JrgwIgFo-py3.11
hes/pypoetry/virtualenvs/aa-team-assignment-JrgwIgFo-py3.11/bin/activate' /Users/mo/Library/Cac
(aa-team-assignment-py3.11) mo@MBP-von-Mohamed aa_team_assignment %

In [4]:
import pandas as pd

df = pd.read_csv('../weather_burbank_airport.csv')
df.head()

,city,timestamp,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
0,Burbank,2018-01-01 08:53:00,9.0,33.0,Fair,991.75,9.0,0.0,8.0
1,Burbank,2018-01-01 09:53:00,9.0,33.0,Fair,992.08,0.0,0.0,9.0
2,Burbank,2018-01-01 10:53:00,9.0,21.0,Haze,992.08,0.0,0.0,9.0
3,Burbank,2018-01-01 11:53:00,9.0,29.0,Partly Cloudy,992.08,0.0,0.0,9.0
4,Burbank,2018-01-01 12:53:00,8.0,33.0,Fair,992.08,0.0,0.0,8.0